.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://th.bing.com/th/id/R.aad1f8062ba9608fe98098e91955814d?rik=okKX1eGM33rRJA&riu=http%3a%2f%2fwww.publicdomainpictures.net%2fpictures%2f80000%2fvelka%2fblue-background-clipart-1392210818CaU.jpg&ehk=GBiy9LIfA51c4oEXlDyywQPKTZ8vLmcwYwDg5w8F5fk%3d&risl=&pid=ImgRaw&r=0");
    background-repeat: no-repeat;
    background-size: cover;
    
    height: 100vh;

    margin: 0px;
    padding: 0px;
}

.login-page-form-container{
    border-radius: 0.5rem;
    padding: 5rem;
    box-shadow: 0 1px 1px hsla(0, 0%, 0%, 0.5), 0 1px 2px hsla(0, 0%, 0%, 0.5);
}
/*-------------------------------*/
.login-page-form-container h3{
    text-align: center;
}

.login-page-form-container img {
    width: 340px; 
    height: 90px;
    margin-bottom: 1%;
    
}

.login-page-form-container label {
    width: 100%;
    max-width: 300px;
    align-self: left;
    margin-bottom: 3px;
    text-align: left;
}

.login-page-form-container input {
    width: 115%;
    max-width: 300px; 
    padding: 8px;
    border: 1px solid #ccc; 
    border-radius: 25px; 
}

.login-page-form-container button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 25px; 
    width: 89%;
    margin-top: 6px;
    border: none;
    color: white;
    font-size: 1em; 
    font-weight: bold;
}

.login-page-form-container form { 
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
}
/*-------------------------------*/

/*.login-page form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-page form label {
    width: 100%;
    align-self: left;
}

.login-page form input {
    width: 100%;
}

.login-page form button {
    margin-top: 5px;
    align-self: start;
}*/