.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://th.bing.com/th/id/R.aad1f8062ba9608fe98098e91955814d?rik=okKX1eGM33rRJA&riu=http%3a%2f%2fwww.publicdomainpictures.net%2fpictures%2f80000%2fvelka%2fblue-background-clipart-1392210818CaU.jpg&ehk=GBiy9LIfA51c4oEXlDyywQPKTZ8vLmcwYwDg5w8F5fk%3d&risl=&pid=ImgRaw&r=0");
    
    height: 100vh;

    margin: 0px;
    padding: 0px;
}

.login-page-form-container{
    border-radius: 0.5rem;
    padding: 5rem;
    box-shadow: 0 1px 1px hsla(0, 0%, 0%, 0.5), 0 1px 2px hsla(0, 0%, 0%, 0.5);

}
.login-page form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-page form label {
    width: 100%;
    align-self: left;
}

.login-page form input {
    width: 100%;
}

.login-page form button {
    margin-top: 5px;
    align-self: start;
}